.application-form
  +grid-form($legend-color: $complementary-dark, $label-color: $complementary-dark, $grid-border-color: $complementary-light, $field-focus-color: #fff)
  color: $complementary-dark
  width: 85%
  max-width: 960px
  margin: 0 auto
  font-size: 14px