// Colors
$dark-gray: rgb(64,64,64)
$light-gray: rgb(222,222,222)
$cyan: rgb(155,255,255)
$magenta: rgb(214,64,138)

// Type
$type-size-reg: 16
$type-size-reg-lead: 24
$type-size-lar: 22
$type-size-lar-lead: 28
$type-size-huge: 42
$type-size-huge-lead: 44
$font-stack-main: "Helvetica Neue LT Pro", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-stack-mono: Courier, mono

// Breakpoint device sizes
$phone-l: 480px
$tablet-p: 768px
$tablet-l: 1024px
$laptop: 1280px
$desktop: 1440px
$monster: 1800px